<h2>Anirudh Sriram
    21BAI1239</H2>

<h3>Task-1</h3>
<h4>Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)</h4>

In [30]:
import pandas as pd
import numpy as np
dt=np.random.rand(4,4)
dt

array([[0.52273283, 0.42754102, 0.02541913, 0.10789143],
       [0.03142919, 0.63641041, 0.31435598, 0.50857069],
       [0.90756647, 0.24929223, 0.41038292, 0.75555114],
       [0.22879817, 0.07697991, 0.28975145, 0.16122129]])

In [31]:
df=pd.DataFrame(data=dt)
df

          0         1         2         3
0  0.522733  0.427541  0.025419  0.107891
1  0.031429  0.636410  0.314356  0.508571
2  0.907566  0.249292  0.410383  0.755551
3  0.228798  0.076980  0.289751  0.161221

<h3>Task-2</h3>
<h4>Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
</h4>

In [32]:
df.columns=['Random value1','Random value2','Random value3','Random value4']
df

   Random value1  Random value2  Random value3  Random value4
0       0.522733       0.427541       0.025419       0.107891
1       0.031429       0.636410       0.314356       0.508571
2       0.907566       0.249292       0.410383       0.755551
3       0.228798       0.076980       0.289751       0.161221

<h3>Task-3</h3>
<h4>Find the descriptive statistics of the 'df' dataframe.</h4>

In [33]:
df.describe()

       Random value1  Random value2  Random value3  Random value4
count       4.000000       4.000000       4.000000       4.000000
mean        0.422632       0.347556       0.259977       0.383309
std         0.381136       0.239932       0.164806       0.305195
min         0.031429       0.076980       0.025419       0.107891
25%         0.179456       0.206214       0.223668       0.147889
50%         0.375765       0.338417       0.302054       0.334896
75%         0.618941       0.479758       0.338363       0.570316
max         0.907566       0.636410       0.410383       0.755551

<h3>Task-4</h3>
<h4>Check for the null values in 'df' and find the data type of the columns.</h4>

In [34]:
df.isnull().any()

Random value1    False
Random value2    False
Random value3    False
Random value4    False
dtype: bool

In [35]:
df.dtypes

Random value1    float64
Random value2    float64
Random value3    float64
Random value4    float64
dtype: object

<h3>Task-5</h3>
<h4>Display the 'Random value 2' & 'Random value 3' columns with location method and index location method</h4>

In [36]:
df.loc[:,['Random value2','Random value3']]

   Random value2  Random value3
0       0.427541       0.025419
1       0.636410       0.314356
2       0.249292       0.410383
3       0.076980       0.289751

In [37]:
df.iloc[:,1:3]

   Random value2  Random value3
0       0.427541       0.025419
1       0.636410       0.314356
2       0.249292       0.410383
3       0.076980       0.289751